body{
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: hsl(214, 9%, 85%);
	background: rgb(26, 49, 95);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(10%, rgba(26, 49, 95, 1)), color-stop(24%, rgba(29, 108, 141, 1)), color-stop(37%, rgba(41, 136, 151, 1)), color-stop(77%, rgba(39, 45, 100, 1)), color-stop(90%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 1)));
}
header{
	height: auto;
 	}
header > nav{
	width: 100%;
	text-align: center;
}
#primary_nav_wrap{
	margin-top:15px;
	}

#primary_nav_wrap ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a{
	display:block;
	color:white;
	text-decoration:none;
	font-weight:100;
	font-size:25px;
	line-height:45px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
	}

#primary_nav_wrap ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0
	}

#primary_nav_wrap ul li.current-menu-item{
	background:rgb(63, 93, 192)
	}

#primary_nav_wrap ul li:hover{
	background:#284a5e
	}

#primary_nav_wrap ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#130404;
	padding:0
	}

#primary_nav_wrap ul ul li{
	float:none;
	width:200px
	}

#primary_nav_wrap ul ul a{
	line-height:120%;
	padding:10px 15px
	}

#primary_nav_wrap ul ul ul{
	top:0;
	left:100%
	}

#primary_nav_wrap ul li:hover > ul{
	display:block
	}
#Contact-us{
	float: right;
	}
.button-01{
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 30px;
	background-color: lawngreen;
	}
article > p{
	font-size: 20px;
}
article > main{
	font-size: 30px;
	color: #000000;	
}
nav > div{
	display: inline-block;
}
li a{ 
	color: white;
}
.dropdown{
	float: right;
}
div > img{
	border-radius:10px 10px;
	box-shadow: 5px 4px 5px #000;
}
aside{
	list-style: none;
	float: right;
}
aside > ul > li{
	margin-right:40px;
	margin-top: 60px;
	list-style: none;
}
main > h2{
	text-align: center;
}
article{
	text-align: center;
	width: 100%;
	height:600px;	
}
footer > div > ul > li{
	list-style: none;
	display: inline-block;
	float: right;
}
footer{
	font-size: 20px;
	color: black;
}

